<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bonjour Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <form action="/marque" method="POST">
            {{msg}} <br><br>
            Chaque chausson valent 10€<br>
            Vous avez : {{argent}} €<br>
            <input type="submit" value="Commender">
    </form>

    <form action="/ajouter" method="POST">
        <input type="submit" value="Ajouter 20€">
    </form>

</body>
</html>
