<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bonjour Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/taille" method="POST">
        <label for="marque">Entrez la marque que vous voulez acheter :</label><br><br>
            <select name="marque" id="marque">
            {% for k in marque %}
                <option value="{{k}}">{{k}}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Regarder les tailles">
        </form>
    
</body>
</html>
