<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bonjour Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    Voici les marques :
    {{marque}}
    <form action="/taille" method="POST">
            <label for="marque">Entrez la marque que vous voulez acheter :</label><br><br>
            <input type="text" id="marque" name="marque" required><br>
            <input type="submit" value="Regarder les tailles">
        </form>
</body>
</html>
