<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bonjour Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/panier" method="POST">
            Argent : {{argent}} € <br>
            <label for="taille">Entrez la commande de votre choix :</label><br><br>

            <select name="taille" id="taille">
            {% for k in tailles %}
                <option value="{{k}}">{{k}}</option> <!--Crée un menu déroulant où il y a toutes les tailles-->
            {% endfor %}
            </select>

            <input type="submit" value="Ajouter au panier">
    </form>

    
</body>
</html>
